<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                
                <div *ngFor="let toode of tooted" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/tooted/{{ toode.id }}">
                            <img src="{{ toode.pildiUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/tooted/{{ toode.id }}">
                            <h1>{{ toode.nimi }}</h1>
                        </a>
                        <div class="hind">{{ toode.artikliHind | currency:'EUR' }}</div>
                        <a href="#" class="primary-btn">Lisa ostukorvi</a>
                    </div>
                </div>

                <!-- kui 'tooted' on tyhi (n6iteks kui otsingus6nale ei leitud vastust),
                     siis kuvada vastav s6num-->

                <div 
                    *ngIf="tooted?.length == 0" 
                    class="alert alert-warning col-md-12"
                    role="alert">
                    Tooteid ei leitud!
                </div>
            </div>
        </div>
    </div>
</div>