<div class="page-wrapper">

  <!-- MENÜÜ KÜLGRIBA -->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/tooted">
        <img src="assets/images/logo.png" alt="epood" class="img-responsive">
      </a>
    </div>
    <app-toode-kategooria-menyy></app-toode-kategooria-menyy>
  </aside>
  <!-- MENÜÜ KÜLGRIBA LÕPP -->

  <!-- LEHE KONTEINER-->
  <div class="page-container">
    <!-- PÄIS -->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-otsing></app-otsing>
            <app-ostukorv-olek></app-ostukorv-olek>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- PÄISE LÕPP -->

    <!-- PÕHISISU -->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- LEHE KONTEINERI LÕPP -->
<footer>
  <ul>
    <li><a href="#">Meist</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Abi</a></li>
  </ul>
</footer>